/src/Core/obj
/src/Core/bin
/src/Infrastructure/obj
/src/Infrastructure/bin
/src/MessageProcessorConsoleService/obj
/src/MessageProcessorConsoleService/bin
/src/PublisherService/obj
/src/PublisherService/bin
/src/PublisherService/PublisherService.csproj.user
/src/.vs/POCRabbitMQ
/src/.vs/ProjectEvaluation