<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogFile=""
      internalLogToConsole="false">

	<variable name='consoleMinLevel' value='${environment:LOGGING_CONSOLE_MINLEVEL:default=Trace}'/>

	<targets>
		<target xsi:type="AsyncWrapper" name="console" overflowAction="Grow" queueLimit="10000" timeToSleepBetweenBatches="50">
			<target xsi:type="Console" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}.${format-sequence-id:format=000000000}|ApplicationName:calendar-console-service|Level:${level:uppercase=true}|LoggerName:${logger}|ContextId:${event-context:item=ContextId}|TenantId:${event-context:item=TenantId}|Message:${message}|${exception:format=tostring}">
			</target>
		</target>
		<target xsi:type="Null" name="discard" />

	</targets>

	<rules>
		<logger name="Microsoft.Extensions.Http.DefaultHttpClientFactory" minlevel="Trace" writeTo="discard" final="true" />

		<logger name="*" minlevel="${var:consoleMinLevel}" writeTo="console" />

	</rules>
</nlog>